[submodule "sources/meta-owasys"]
	path = sources/meta-owasys
	url = ssh://git@192.168.100.7:10022/cetus/sdk_tools/cetus_yocto/meta-owasys.git
[submodule "sources/meta-rauc"]
	path = sources/meta-rauc
	url = https://github.com/rauc/meta-rauc.git
